.aboutus {
    @include bgcolor($white, $indigo);

   .conteiner {
      display: flex;
      justify-content: space-between;

      @include phone {
         flex-direction: column;
      }

      &_item {
         width: 404px/940px*100%;

         h2 {
            padding-bottom: 26px;
            color: $fiolet;
            text-transform: uppercase;
         }

         @include phone {
            width: 100%;
            text-align:center;
            margin-bottom: 66px;
         }
      }
   }
}