.firstscreen {
    background:{
        image: linear-gradient(to right,$bordo,$indigo);

    }
    color:$white;
}
.header {
    display: flex;
    justify-content: space-between;
    &_logo{
       

    }
}
h1{
   
    text-align: center;
}

.header{
    
    margin: 0px 50px;
    padding-bottom: 100px;
    
    

}

