.firstscreen {
    padding: 50px 0;
    background:{
        image: linear-gradient(to right,$bordo,$indigo);

    }
    .conteiner {
        flex-grow: 1;
    }
    color:$white;
    
        
    @include tablet {
        min-height: 100%;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    padding-bottom: 50px;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid $white;




    &_logo{
       @include tablet {
           border-bottom: 1px solid $white;
           text-align: center;
           padding-bottom:50px;
       }

    }

    &_menu{
        display: flex;
        a{
            @include phone{
                display: none;
            }
            margin-left: 70px;
            &::after{
                display: block;
                content: "";
                height: 0;
                border-bottom: 1px solid $white;
                margin-top: 20px;
                transform:scaleX(0) ;
                transition-property: transform;
                transition-duration: 0.5s;

            }
            &:hover::after{
                transform: scale(1);

            }
            
        }

    }
    @include tablet {
        flex-direction: column;
        border-bottom:none;
    }
    @include phone {
        flex-direction: column;
        max-height: 737px;
    }
}
h1{
   
    text-align: center;
}

.discription {
    @include tablet {
        margin: 170px 0 0;
        height: auto;
    }
    @include phone {
        font-size: 40px;
        line-height: 75px;
        text-align: center;
        letter-spacing: 2.4px;
        max-height: 737px;
        
        
    }
}


