.footer {
    .conteiner {
        
     &_item {
        @include tablet  {
            
            flex-direction: column;
            align-items: center;
            text-align: center;
            p{
                padding: 50px;
            }
        }
        @include phone {
            flex-direction: column;
            align-items: center;
            text-align: center;


        }
     }   
    }
  
    .conteiner_item{
       

        &_p{
            width: 536px;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 10%;
        }
        display: flex;
        justify-content: space-between;
       
    }

    @include bgcolor($indigo,$white);
    
}
