*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font:{
        family: $font;
        size:24px;
        style:normal;
        weight:400;

    }
    color: $indigo;
    letter-spacing: 10%;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: $white;
    size: 16px;
    line-height: 24px;
   
    
   
    
}
section {

    min-height: 512px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}

.conteiner {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
   
   


}