@mixin bgcolor ($bg,$text) {
    background-color: $bg;
    color: $text;
    padding: 100px 0;
}


// @mixin bgimage ($bg) {
//     background:{
//         image:url($bg);
//         repeat:no-repeat;
//         position:center top;
//         size:cover;
//     }
//     color: $white;
//     padding: 100px 0;

// }
%bgimage 
{
    color: $white;
    padding: 100px 0;
    background:{
        repeat:no-repeat;
        size: cover;
        position:center top ;
    } 
}
@mixin tablet {
    @media screen and (max-width:768px)
    {
        @content;
    }
    
}
@mixin phone {
    @media screen and (max-width:520px)
    {
        @content;
    }
    
}